.time-of-day{
    font-size: 1.4em;
    color: #fff;
    font-family: 'Inter Regular';
    letter-spacing: 4px;
    display: flex;
    align-items: center;
}

.currently-mobile{
    display: none;
    padding-left: 0.8em;
}

.currently{
    display: block;
    padding-left: 1.5em;
}

.time{
    font-size: 12em;
    color: #fff;
    font-family: 'Inter Bold';
    letter-spacing: -5px
}

.code{
    font-size: 4em;
    color: #fff;
    padding-left: 0.5rem;
    font-family: 'Inter Light'
}

.city-country{
    font-size: 2em;
    color: #fff;
    padding-top: 1.5rem;
    font-family: 'Inter Bold';
    letter-spacing: 4.8px
}

.container-city{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 2em
}

.btn{
    border-radius: 50px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 5px;
    padding: 0 10px; 
    font-family: 'Inter Regular';
    &:hover{
        background: aquamarine
    }
}


.btn-text{
    padding: 0 10px;
    font-size: 1.7em;
}

@media only screen and (min-width: 1920px) {
    .time{
        font-size: 16em;
    }
    .container-city{
        margin-bottom: 0;
        flex-direction: row;
        align-items: center;
    }
    .currently{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: $tablet_m) and (max-width: $laptop_s) {
    .time{
        font-size: 10em;
    }
    .container-city{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
    .btn{
        margin-top: 5em;
        height: 60px;
    }
    .btn-text{
        font-size: 1.6em;
    }
  }

@media only screen and (max-width: $tablet_m) {
    /* For mobile phones: */
    .time-of-day{
        font-size: 1em;
    }
    .time{
        font-size: 5em;
    }
    .code{
        font-size: 1.8em;
    }
    .currently{
        display: none;
    }
    .currently-mobile{
        display: block;
    }
    .btn{
        margin-top: 4em;
        height: 50px;
    }
    .container-city{
        font-size: 0.8em;
    }
    .btn-text{
        font-size: 1.4em;
    }
}







