// Colors
$white: #FFFFFF;
$gray: #303030;


// Breakpoints
$mobile_s: 320px;
$mobile_m: 360px;
$mobile_l: 425px;

$tablet_s: 640px;
$tablet_m: 768px;
$tablet_l: 850px;

$laptop_s: 1024px;
$laptop_m: 1260px;
$desktop_s: 1440px;
$desktop_m: 1750px;
