@import 'variables';

:export {
  color_white: $white;
  color_morita: $morita;
  color_morita2: $morita2;
  color_gray: $gray;
  color_gray2: $gray2;
  color_gray3: $gray3;
  color_purple: $purple;
  color_dark_purple: $dark_purple;
  color_error: $color-error;
}
